/* body, html */

body, html {
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: "Source Code Pro", monospace;
}

/* nav */

nav {
  height: 3em;
  width: 100%;

  font-weight: bold;
  font-family: "Source Code Pro", monospace;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list {
  margin-right: 2em;
}

.nav-item {
  display: inline-block;
  color: black;
}

.nav-item > a {
  color: inherit;
}

/* container */

.page_container {
  height: 100%;

  display: grid;
  grid-template-rows: 3em 1fr 2em;
}

.container {
  height: calc(100% - 2em);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */

footer {

  width: 100%;

  line-height: 2.5em;
  background: #e2e2e2;

  font-size: .8em;
  font-weight: bolder;
  font-family: "Source Code Pro", monospace;

  text-align: center;
}

/* frontpage */

#frontpage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  font-size: .9em;
  text-align: center;
}

#frontpage > header > h1 {
  font-size: 2.6em;

  margin-bottom: 0;
}

#frontpage > header > h5 {
  margin-top: .4em;
}

#frontpage > nav {
  justify-content: center;
}

#frontpage > nav > .nav-list {
  margin: 0;
  padding: 0;
}

/* projects */

.project {
  height: 100%;
  max-width: 35em;
  min-width: 420px;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-rows: 3em 1fr 3em;

  text-align: center;
  text-decoration: none;

  transition: all .5s;
  background-size: 100% 200%;

  color: black;
}

.project:hover {
  color: white;
  background-position: 0 -100%;
}

.project > h5 {
  line-height: .5em;
}

.project > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project > .status {
  font-weight: bolder;

  line-height: 2.8em;
}

.project > .is-finished {
  background: #2f7d35;
  color: white;
}

.project > .not-finished {
  color: white;
  background: #476ec3;
}

.project.is-finished {
  background-image: linear-gradient(to bottom, white, 50%, #2f7d35 50%);
}
.project.is-finished:hover {
  /* background:  */
  color: white;
}

.project.not-finished {
  background-image: linear-gradient(to bottom, white, 50%, #476ec3 50%);
}

.project.not-finished:hover {
  /* background: #5f73db; */
  color: white;
}

#projects-list {
  height: 100%;

  flex-direction: row;
  justify-content: flex-start;

}

/* project details */

.details {
  display: grid;
  grid-template-rows: 5em 1fr;
}

.details > header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details > header > .info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.details > header > .info > h1 {
  margin: 0 1.5em;
}

.details > header > .info > h5 {
  margin-top: 2.5em;
}

.details > header > .terminal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal > form {
  width: 100%;
}

.terminal > form > input[type='text'] {
  width: 60%;
  min-width: 200px;
  font-family: monospace;
}

.terminal > form > input[type='submit'] {
  height: 100%;
}

/* tasks */

.tasks {
  display: grid;
  grid-template-columns: 16em 1fr;
}

.active {
  font-size: .8em;
  text-align: center;
}

.active > ul {
  list-style-type: none;
  padding: 1.2em;
  text-align: left;
}

.active > ul > li {
  margin: 0;
  padding: 0;
}

.active > ul > li::before {
  content: '- ';
}

/* steps */

.steps-table {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow-x: auto;
}

.step {
  max-height: calc(100vh - 12em);
  min-width: 400px;

  height: calc(100vh - 10em);
  overflow-y: auto;
}

.step > header {
  text-align: center;
  font-size: .9em;
}

.step > header > h1 {
  margin-bottom: 0;
  display: inline-block;
}

.step > header > h5 {
  margin-top: .4em;
}

.step-task-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  text-align: center;
}

.step-task {
  margin: 1em 0;
  margin-bottom: .4em;
  display: inline-block;
}

.step-task-time {
  margin: 0;
  font-size: .8em;
}

/* special classes */

.outline {
  padding: .2em .8em;
}

.outline.red {
  background: rgba(231, 76, 60, 0.37);
}

.outline.green {
  background: rgba(39, 173, 96, 0.37);
}

.outline.blue {
  background: rgba(41, 128, 185, 0.37);
}

.outline.orange {
  background: rgba(210, 84, 0, 0.37);
}

.outline.purple {
  background: rgba(142, 68, 173, 0.37);
}
