/* body, html */

body, html {
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: "Source Code Pro", monospace;
}

/* nav */

nav {
  height: 3em;
  width: 100%;

  font-weight: bold;
  font-family: "Source Code Pro", monospace;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list {
  margin-right: 2em;
}

.nav-item {
  display: inline-block;
}

/* container */

.page_container {
  height: 100%;

  display: grid;
  grid-template-rows: 3em 1fr 2em;
}

.container {
  height: calc(100% - 2em);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */

footer {

  width: 100%;

  line-height: 2.5em;
  background: #e2e2e2;

  font-size: .8em;
  font-weight: bolder;
  font-family: "Source Code Pro", monospace;

  text-align: center;
}

/* frontpage */

#frontpage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  font-size: .9em;
  text-align: center;
}

#frontpage > header > h1 {
  font-size: 2.6em;

  margin-bottom: 0;
}

#frontpage > header > h5 {
  margin-top: .4em;
}

#frontpage > nav {
  justify-content: center;
}

#frontpage > nav > .nav-list {
  margin: 0;
  padding: 0;
}

/* projects */

.project {
  height: 100%;
  max-width: 35em;
  min-width: 420px;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-rows: 3em 1fr 3em;

  text-align: center;
  text-decoration: none;

  transition: all .5s;
  background-size: 100% 200%;

  color: black;
}

.project:hover {
  color: white;
  background-position: 0 -100%;
}

.project > h5 {
  line-height: .5em;
}

.project > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project > .status {
  font-weight: bolder;

  line-height: 2.8em;
}

.project > .is-finished {
  background: #2f7d35;
  color: white;
}

.project > .not-finished {
  color: white;
  background: #476ec3;
}

.project.is-finished {
  background-image: linear-gradient(to bottom, white, 50%, #2f7d35 50%);
}
.project.is-finished:hover {
  /* background:  */
  color: white;
}

.project.not-finished {
  background-image: linear-gradient(to bottom, white, 50%, #476ec3 50%);
}

.project.not-finished:hover {
  /* background: #5f73db; */
  color: white;
}

#projects-list {
  height: 100%;

  flex-direction: row;
  justify-content: flex-start;
}
